<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rendez-vous</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>


    <!-- Contenu à imprimer -->
    <div id="printable">
        <h1>Rendez-vous des 7 prochains jours</h1>

        <table>
            <thead>
                <tr>

                    <th>Date</th>
                    <th>Heure</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Chambre</th>
                    <th>Type de RDV</th>
                    <th>Médecin</th>
                    <th>Lieu</th>
                    <th>Commentaire</th>
                    <th>Transport</th>
                    <th>Oxygène</th>
                </tr>
            </thead>
            <tbody>
                {% for rdv in rdv_list %}
                <tr>
                    <td>{{ "%02d"|format(rdv.date.day) }}-{{ "%02d"|format(rdv.date.month) }}-{{ rdv.date.year }}</td>
                    <td>
                        {% if rdv.heure is defined and rdv.heure != None %}
                            {{ "%02d"|format(rdv.heure.hour) }}:{{ "%02d"|format(rdv.heure.minute) }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>{{ rdv.nom }}</td>
                    <td>{{ rdv.prenom }}</td>
                    <td>{{ rdv.chambre }}</td>
                    <td>{{ rdv.typeRdv }}</td>
                    <td>{{ rdv.nomMedecin }}</td>
                    <td>{{ rdv.lieu }}</td>
                    <td>{{ rdv.commentaire }}</td>
                    <td>{{ rdv.transport }}</td>
                    <td>{{ rdv.oxygene }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>


</html>
